*{
	box-sizing: border-box;
}
body{
	font-family: "Roboto", sans-serif;
	
}
.container{
	max-width: 1194px;
	margin: auto;
}
.header{
	display: flex;
	align-items: center;
	padding: 10px 0;
}
.search-form{
	margin-left: 76px;
	background-color: rgba(238,238,238,0.71);
	border-radius: 10px;
	display: flex;
	max-width: 620px;
	flex-grow: 1;
	position: relative;
}
.search-input {
	background-color:transparent;
	border: none;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.search-button{
	background-color: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding-right: 18px;
	padding-left: 18px;
	cursor: pointer;
}
.auth{
	margin-left: auto;
}
.login {
	background-color:#e6e6e6;
	border-radius: 50px;
	padding: 16px 30px;
	display:block ;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	font-family: "Roboto", sans-serif;
}
.shopping-cart {
	position: relative;
	text-decoration:none ;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background:#f66a15;
	display: flex;
	align-items: center;
	justify-content:center ;
	margin-left: 30px;
}
.shopping-counter {
	position: absolute;
	background: #ffaf19;
	font-size: 8px;
	line-height: 9px;
	color: #000000;
	display: block;
	padding: 5px;
	border-radius: 50%;
	right: 0;
	bottom: 0;
}
.slide {	
	position: relative;
	border-radius:20px;
	min-height: 400px;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 100px;		
}
.slide-text-light {	
	color: white;	
}
.slide-content {
	max-width: 500px;
	position: absolute;
}
.slide-title {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 50px;
	line-height: 51px;
}
.slide-text {
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 30px;
}
.button-primary {
	background:#f47322;
	color: #fff;	
}
.button-default{
	background-color: #fff;
	color: #5f5f61;
}
.button {
	margin-left: 25px;
	cursor: pointer;
	border-radius: 25px;
	padding: 12px 25px;
	display: inline-block;
	text-decoration: none;
	font-style: normal;
	font-weight: 500px;
	font-size: 14px;
	line-height: 23px;
	color:#f47322 ;
	border: 1px solid #f47322;
	&:hover {
		color: #aebc41;
	}
}
.slide-summer {	
	background-image: url("../img/summer.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.slide::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,0.43) 45.45%,rgba(0,0,0,0)100%)  url("../img/summer.png") no-repeat / cover;
}
.container {
	max-width: 1194px;
}
.promo {
	padding-top: 50px;
	justify-content: space-between;
	display: flex;
	padding-bottom:50px;
	margin: -20px;	
}
.card {	
	flex: 50%;
	margin: 20px;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	padding: 32px;
	max-width: 570px;
	min-height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card::before {
	z-index: -1;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
.card-text-light {
	color: #fff;
}
.card-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 23px;
	margin-top: 4px;
	margin-bottom: 21px;
}
.card-description {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	max-width: 200px;
}
.card-price {
	display: block;
	font-weight: 500;
	font-size: 24px;
	line-height: 23px;
}
.card-delivery {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 25px;
}
.card-image {	
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	object-fit: cover;
}
.section-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 23px;
	margin-top: 0;
	margin-bottom: 47px;		
}
.delivery-week {
	padding: 100px 0;
	display: flex;
	flex-direction: column;	
}
.delivery-cards {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;	
}
.delivery-card {
	margin: 15px;
	position: relative;
	width: 275px;
	height: 182px;
	border-radius: 18px;
	overflow: hidden;
}
.delivery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.delivery-tag {
	position: absolute;
	left: 10px;
	top: 16px;
	border-radius: 30px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color:#49494f;
	padding: 5px 10px;
}
.tag-health {
	background: #d0fd89;
}
.tag-veg {
	background: #aebc41;
	color:#fff;
}
.tag-meat {
	background: #b86b78;
	color:#fff;
}
.tag-poultry {
	background: #d68334;
	color: #fff;
}
.tag-fish {
	background: #cd6255;
	color: #fff;
}
.tag-kids {
	background: #fffdbf;
	color: #000;;
}
.tag-parents {
	background: #fff;
	color:#000000
}
.tag-weekend {
	background: #fffdbf;
	color:#000;
}
.container {
	.section-grey {
		background:#f6f6f6;
		.more-btn {
			display: flex;
			justify-content: center;
			button {
				cursor: pointer;
				padding: 15px 105px;
				text-align: center;
				border-radius: 18px;
				font-weight: 400;
				font-size: 18px;
				color: #F37321;
				border: 1px solid #aebc41;
				&:hover {
					color: #aebc41;
				}
			}
		}
		.container {
			.tabs {
				display: flex;
				list-style-type: none;
				li {
					a {
						&:hover {
							color: #aebc41;
						}
					}
				}
			}
		}
	}

}
.category {
	padding-top: 40px;
	padding-bottom: 60px;	
}
.section-title {
	margin-left: 50px;
	font-weight: 500;
	font-size: 32px;
	line-height: 23px;
	color: #000000;
}
.tabs-item {
	margin-left: 30px;
	padding: 0px;
	border-radius: 20px;
}
.tabs-link {
	text-decoration: none;
}
.tabs-content {
	display: flex;
	justify-content: space-between;
	flex: 50%;
	margin: 17px;
}

.tabs-card {
	padding: 0 15px;
	margin:17px;
	max-width: 270px;
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff;
}
.tabs-image {
	max-width: 100%;
}
.tabs-card-content {
	display: flex;
	padding: 23px;
	margin-left: 23px;
	align-items: center;
}
.tabs-title {
	margin-top: 0;
	margin-bottom: 13px;
	margin-left: 15px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}
.tabs-description {
	font-weight: 500;
	font-size: 15px;
	line-height: 23px;
	color: #b9b9be;
}
.tabs-info {
	display: flex;
	align-items: center;
	margin: 0 6px 15px;
}
.tabs-price {
	font-weight: 500;
	font-size: 23px;
	line-height: 23px;
	color: #4b4b51;
	display: block;
	margin-bottom: 5px;
}
.tabs-weight {
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #aaaab1;
}
.button button-outline {
	padding: 100px;
}

.container {
	.benefits-title {
		font-weight: 500;
		font-size: 32px;
		line-height: 23px;
		color: #000000;
	}
	.blocks {
		display: flex;
		justify-content: space-between;
		.block {
			display: block;
			text-align: center;
			height: 295px;
			width: 270px;
			img {
				margin: 0 auto;
				width: 60px;
				height: 55px;
			}
			span {
				margin-left: 50px;
				width: 160px;				
				display: block;
				margin-top: 45px;
				font-weight: 700;
				font-size: 16px;
			}
		}
	}
}
.footer {
	display: flex;
	background-color:#f6f6f6;
	justify-content: space-between;
		.logo-1 {
			padding-left: 35px;
		}
		.footer-info-price {
			padding: 35px;
		}
		.footer-info-text {
			padding: 35px;
		}		
		.footer-socials {
			padding-top:35px;
			padding-right: 35px;			
		}
	}


